<icegrid>
    <application name="ReplicaApp">
        <replica-group id="ReplicatedAdapter">
            <object identity = "TheObject" type="::Demo::ObjectType"/>
        </replica-group>
        <node name="Node">
            <server id="ReplicaServer" exe="./server" activation="on-demand">
                <adapter name="PrinterAdapter" endpoints="default" replica-group="ReplicatedAdapter"/>
            </server>
        </node>
    </application>
</icegrid>
